<nav class="my-nav">
<%=render 'shared/logout' %>
<div class='path-wrapper'>
<%=link_to 'Recipes', recipes_path, :class=>"nav-item"  %>
<%=link_to 'Foods', foods_path, :class=>"nav-item"  %>
<%=link_to 'Public', foods_path, :class=>"nav-item"  %>
</div>
</nav>