.food-list-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border: solid 2px #ccc;
  border-radius: 120px;
}

.food-list-table th,
td {
  border: none;
  border-right: solid 2px #ccc;
  padding-top: 10px;
  height: 50px;
}

.food-list-table th {
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
}

.food-list-table button {
  width: 70%;
  height: 30px;
  color: blue;
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-left: 15%;
  border-radius: 3px;
  border: 0.4px solid #ccc;
}

.q-light {
  background-color: rgba(204, 204, 204, 0.514);
}

.q-dark {
  color: #000;
}

.food-list-table button:hover {
  background-color: transparent;
  border: 0.4px solid #ccc;
}

.link-create-food {
  font-size: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #00bbd471;
  padding-top: 130px;
  margin-bottom: 130px;
}

.link-create-food:hover {
  color: rgba(144, 144, 247, 0.767);
}
