.food-list {
  min-height: 100vh;
  background-image: url(https://user-images.githubusercontent.com/97834160/188232931-b44682c8-e323-4f5a-b48e-78a480587502.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.food-list-inner {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(65, 105, 225, 0.288);
}

.food-list-table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  border: solid 2px rgb(212, 105, 105);
  background-color: rgba(65, 105, 225, 0.438);
}

.food-list-table th,
td {
  border: none;
  border-right: solid 2px rgb(212, 105, 105);
  padding-top: 10px;
  height: 50px;
}

.food-list-table th {
  background-color: rgb(212, 105, 105);
  font-weight: bold;
  text-align: center;
}

.food-list-table button {
  width: 70%;
  height: 30px;
  color: blue;
  background-color: #ccc;
  font-weight: bold;
  text-align: center;
  align-self: center;
  margin-left: 15%;
  border-radius: 3px;
  border: 0.4px solid #ccc;
}

.q-light {
  background-color: rgba(204, 204, 204, 0.514);
  font-weight: 700;
  font-size: 20px;
}

.q-dark {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.food-list-table button:hover {
  background-color: transparent;
  border: 0.4px solid #ccc;
  color: #fff;
}

.link-create-food {
  font-size: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  padding-top: 130px;
}

.link-create-food:hover {
  color: rgb(218, 218, 245);
}

.food-create-link {
  padding-top: 100px;
}

.food-remove-btn {
  min-width: 64px;
}
