.recipe-food-food-area {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid #ccc;
  padding: 30px;
  align-self: center;
  margin-top: 30px;
  margin-left: 7%;
  height: 30vh;
  overflow-y: scroll;
}

.recipe-food-food {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.recipe-food-food input {
  width: 30px;
  height: 30px;
  border: 4px solid #ccc;
  border-radius: 3px;
}
